<div class="thought {{ thought.model }} ff-roboto-mono" [ngClass]="widthThought()">
  <img src="../../../../assets/images/{{ thought.model }}.png" alt="Aspas coloridas">

  <p class="content">{{ thought.content }}</p>
  <p class="content"><b>{{ thought.author }}</b></p>

  <div class="actions">
    <button class="btn-edit">
      <img src="../../../../assets/images/icone-editar.png" alt="Editar">
    </button>

    <button class="btn-delete" routerLink="/pensamentos/excluir/{{ thought.id }}">
      <img src="../../../../assets/images/icone-excluir.png" alt="Ecluir">
    </button>
  </div>

</div>
